.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 1.5rem;
  padding-block-end: 1.5rem;
}

.header .links {
  font: var(--button);
  inline-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style: none;
  padding: 0;
}

.header .links li {
  cursor: pointer;
}

.header .links li.is-active {
  color: var(--primary);
  box-shadow: 0 3px 0 var(--primary);
}
