<div class="header">
  <div class="logo">
    <img
      src="assets/img/logo-block-master.png"
      alt="Block Master Logo"
      width="106"
      height="64"
    />
  </div>
  <ul class="links">
    <li
      routerLink=""
      routerLinkActive="is-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Todas
    </li>
    <li routerLink="most-valued" routerLinkActive="is-active">Más valoradas</li>
    <li routerLink="less-valued" routerLinkActive="is-active">
      Menos valoradas
    </li>
  </ul>
  <app-input-search></app-input-search>
</div>
