
.search-container form .input {
  display: flex;
  inline-size: 37.75rem;
  align-items: stretch;
  border-radius: 8px;
  background: var(--white);
}

.search-container form .input .input-item {
  flex: 1;
}

.search-container form .input input {
  padding: 0.75rem;
  background: none;
  border: none;
  inline-size: 100%;
  block-size: 100%;
}

.search-container form .input input::placeholder {
  font: var(--body2-regular);
  color: var(--grey);
}

.search-container form .input .input-logo {
  background: var(--primary);
  color: var(--black);
  font-size: 1.25rem;
  padding: 0.75rem;
  border-radius: 0 8px 8px 0;
}
